@import "styles/colors.scss";
@import "styles/mixins.scss";

.GroupPerDay {
  display: flex;
  margin-bottom: 30px;

  > .date-information {
    flex: 2;

    .sticky {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      left: 0;

      > p {
        margin: 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;

        &:first-of-type {
          font-weight: bold;
          color: rgba(#fcfcfc, 0.5);
        }

        &:nth-child(2) {
          text-shadow: -1px -1px 0 rgba(#fcfcfc, 0.5),
            1px -1px 0 rgba(#fcfcfc, 0.5), -1px 1px 0 rgba(#fcfcfc, 0.5),
            1px 1px 0 rgba(#fcfcfc, 0.5);
        }
      }
    }
  }

  > .event-list-container {
    flex: 3;
  }
}
