@import "styles/mixins";

.FeaturedYoutube {
  height: 375px;

  .youtube {
    position: fixed;
    top: 0;
    height: 375px;
    z-index: -1;
  }

  .video-overlay {
    display: block;
    content: "";
    width: 100%;
    height: 375px;
    background: linear-gradient(
      0deg,
      rgba(#292524, 1),
      rgba(#292524, 0.95) 30%,
      rgba(#292524, 0.3) 70.71%
    );
  }
}
