@import "styles/mixins";

.FeaturedYoutube {
  height: 360px;

  .youtube {
    position: fixed;
    top: 0;
    height: 360px;
    z-index: -1;

    .youtube-ref {
      width: 100vw;
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }
  }

  .video-overlay {
    display: block;
    content: "";
    width: 100%;
    height: 360px;
    mask-type: luminance;
    mask: linear-gradient(
      0deg,
      rgba(#292524, 1),
      rgba(#292524, 0.95) 10%,
      rgba(#292524, 0.15) 70.71%
    );
    background-image: url(../../assets/img-noise-361x3702.png);
  }
}
