@import "styles/colors.scss";
@import "styles/mixins.scss";

.info-wrapper {
  padding: 0 20px;
  position: relative;
  bottom: 53px;

  .event-location {
    @include outlined-typo(30px, rgb(0, 0, 0), #fcfcfc, bold);
    background: rgba(0, 0, 0, 0.65);
    box-shadow: -4px 0 0 rgba(0, 0, 0, 0.65), 4px 0 0 rgba(0, 0, 0, 0.65);
    padding: 0.25rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    position: absolute;
    top: -39px;
  }

  .event-title {
    margin: 0;
    font-family: futura-pt,Helvetica,Arial,sans-serif;
    color: white;
    font-size: 28px;
    width: 75%;
    margin: 0;
    line-height: 1.2;
    font-weight: 900;
    text-shadow: 1px 2px 10px rgba(black, 0.75);
  }

  button{
    position: absolute;
    padding: 10px;
    right: 20px;
    background-color: #fcfcfc;
    border-radius: 50%;
    border: none;
    outline: none;
  }

}

.featured-event-info {
  padding: 0 20px;
}

.share {
  display: flex;
  flex-direction: row-reverse;
  margin: 24px 0 0px;
  padding: 0 20px 60px 20px;
  
  > span {
    @include typo(13px, #fcfcfc, bold);
  }
}
