@import "styles/colors.scss";
@import "styles/mixins.scss";

.info-wrapper {
  padding: 0 10px;
  background-image: url(../../assets/img-noise-361x370.png);

  .event-location {
    @include typo(16px, rgba(0, 0, 0, 0.7), bold);
    margin: 0 0 8px;
    -webkit-font-smoothing: antialiased;
  }

  .event-title {
    margin: 0;
    padding: 0 8px;

    > .title {
      @include outlined-typo(30px, rgb(0, 0, 0), #fcfcfc, bold);
      display: inline;
      background: rgba(0, 0, 0, 0.8);
      box-shadow: -8px 0 0 rgba(0, 0, 0, 0.8), 8px 0 0 rgba(0, 0, 0, 0.8);
      padding: 0.25rem;
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
    }
  }

  .share {
    display: flex;
    flex-direction: row-reverse;
    margin: 24px 0 0px;
    padding: 0 0 60px;

    > span {
      @include typo(13px, rgba(0, 0, 0, 0.5), bold);
      text-decoration: underline;
    }
  }
}
