.AddBaseModal {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 450px;
  color: #424042;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    box-shadow: inset 0px -1px 0px 0px #ededed;

    .title {
      margin: 0;
      font-size: 15px;
      font-weight: 700;
      color: #424042;
    }

    .close-button {
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      background: #f5f5f5;
      border-radius: 18px;
    }
  }

  .children {
    flex: 1;
    overflow: scroll;
    padding: 24px;
  }

  .bottom {
    display: flex;
    justify-content: flex-end;
    padding: 16px 24px;
    box-shadow: inset 0px 1px 0px 0px #ededed;

    .cancel-btn {
      // TODO: 공통코드 분리하기
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      height: 35px;
      padding: 8px 16px 8px 16px;
      border: none;
      font-size: 16px;
      font-weight: 500;

      background: none;
      color: #999999;
      margin: 0 16px 0 0;
    }

    .add-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      padding: 8px 16px 8px 16px;
      border: none;
      font-size: 16px;
      font-weight: 500;

      background: #2d2c2d;
      color: #fcfcfc;
    }
  }
}
