@import "styles/colors.scss";
@import "styles/mixins.scss";

.EventListItem {
  @include inner-bottom-divider(rgba(#fcfcfc, 0.1));
  padding-bottom: 8px;
  margin-bottom: 16px;

  .event-title-time {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    font-weight: bold;

    > .title {
      @include typo(15px, rgba(#fcfcfc, 0.85), bold);
      @include set-line-clamp(2);
      flex: 1;
      margin: 0 8px 8px 0;
    }

    > .time {
      color: rgba(#fcfcfc, 0.15);
    }
  }

  .location-info {
    @include typo(13px, rgba(#fcfcfc, 0.2));
    margin: 0;
  }
}
