@import "styles/colors.scss";
@import "styles/mixins.scss";

.FeaturedEventInfo {
  margin-top: 16px;
  font-weight: 500;

  > .info {
    margin-bottom: 4px;

    > .title {
      color: #999999;
      margin-right: 8px;
    }

    > .description {
      color: #424042;
    }
  }
}
