@import "styles/colors.scss";
@import "styles/mixins.scss";

.FeaturedEventInfo {
  margin: 30px 0 0;
  font-weight: 500;

  > .info {
    display: flex;
    margin-bottom: 4px;

    > .title {
      @include typo(15px, rgba(white, 0.5));
      margin-right: 8px;
      text-transform: capitalize;
    }

    > .description {
      @include set-line-clamp(1);
      @include typo(15px, rgba(black, 0.3), bold);
      padding: 0;
    }
  }
}
